.calendario-escolar{
    width: 95%;
    display: flexbox;
    margin: 2%;
}


#dwld_calendario button{
    display: block;
    padding: 3%;
    border-radius: 15px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA; 
    text-decoration: none;
}

#dwld_calendario button:hover{
    background-color: #008CBA;
    color: white;
}

.dwld{
    position: relative;
    background-color: #f2f2f2;
    padding: 10%;
}
  
@media screen and (min-width: 800px){
    .calendario-escolar{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;   
        
    }
    #dwld_calendario button{
        display: block;
        text-decoration: none;

    }

}
